body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "Avenir";
  src: url("./fonts/Avenir-Book.otf");
}
/* Form Textfield Placeholder overrrides  */

::-webkit-input-placeholder {
  /* Edge */
  color: black !important;
  font-weight: 500 !important;
  opacity: 1 !important;
  text-align: center !important;
}

:-ms-input-placeholder {
  /* Internet Explorer */
  color: black !important;
  font-weight: 500 !important;
  opacity: 1 !important;
  text-align: center !important;
}

::placeholder {
  color: black !important;
  font-weight: 500 !important;
  opacity: 1 !important;
  text-align: center !important;
}
